html {
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto', sans-serif;
  background: #f9f9f9; }

.nav {
  top: 0;
  background: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  z-index: 1;
  height: 6.5rem; }
  .nav .hamburguer {
    cursor: pointer; }
    .nav .hamburguer > div {
      width: 3rem;
      height: 5px;
      background-color: rgba(30, 143, 235, 0.4);
      margin: 0.5rem 1rem 0 0; }
  .nav a {
    text-decoration: none; }
  .nav h1 {
    color: #1e8feb; }
  .nav .search-bar {
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #1e8feb;
    font-size: 1.6rem; }
    .nav .search-bar::placeholder {
      color: currentColor;
      font-size: 1.6rem; }

.documentation-bar {
  border-right: 2px solid rgba(30, 143, 235, 0.4);
  background: #f9f9f9; }
  @media only screen and (max-width: 768px) {
    .documentation-bar {
      position: fixed;
      height: 100%;
      width: 50%;
      top: 6.5rem;
      margin-top: 0;
      z-index: 20;
      left: 0;
      opacity: 1;
      transition: transform 0.3s ease-in-out; }
      .documentation-bar-content {
        position: relative; }
        .documentation-bar-content ul li a {
          display: inline-block;
          width: 100%; } }
  .documentation-bar.toggle-bar {
    transform: translateX(-100%); }

.documentation-bar-content h1 {
  font-size: 1.6rem;
  font-weight: 300; }

.documentation-bar-content ul {
  list-style: none; }
  .documentation-bar-content ul li a {
    text-decoration: none;
    color: #1e8feb; }
    .documentation-bar-content ul li a:hover {
      color: #0f66ad; }

.info-card h1,
.info-card h2 {
  line-height: 1.6;
  border-bottom: 2px solid rgba(30, 143, 235, 0.4);
  font-weight: 400; }

.info-card p {
  line-height: 1.6; }

.info-card ul {
  list-style: none; }
  .info-card ul li {
    line-height: 1.7; }

.info-card pre {
  background: none; }
  .info-card pre::before, .info-card pre::after {
    content: none; }

.info-card span.code-text {
  background: #d9d9d9;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: consolas;
  font-size: 1.4rem; }

.info-card .example.displays > div, .info-card .example.sizes > div,
.info-card .example.flexbox > div > div {
  padding: 2.5rem; }

.info-card .example.displays > div:nth-child(1), .info-card .example.sizes > div:nth-child(1),
.info-card .example.flexbox > div > div:nth-child(1) {
  background: #1e8feb;
  color: #fff; }

.info-card .example.displays > div:nth-child(2), .info-card .example.sizes > div:nth-child(2),
.info-card .example.flexbox > div > div:nth-child(2) {
  background: #f6e336;
  color: #444; }

.info-card .example.displays > div:nth-child(3), .info-card .example.sizes > div:nth-child(3),
.info-card .example.flexbox > div > div:nth-child(3) {
  background: #5f34af;
  color: #fff; }

.info-card .example.displays > div:nth-child(4), .info-card .example.sizes > div:nth-child(4),
.info-card .example.flexbox > div > div:nth-child(4) {
  background: #9423a8;
  color: #fff; }

.info-card .example.displays > div:nth-child(5), .info-card .example.sizes > div:nth-child(5),
.info-card .example.flexbox > div > div:nth-child(5) {
  background: #00b4cc;
  color: #fff; }

.info-card .example.displays > div:nth-child(6), .info-card .example.sizes > div:nth-child(6),
.info-card .example.flexbox > div > div:nth-child(6) {
  background: #83bb43;
  color: #fff; }

.info-card .example.displays > div:nth-child(7), .info-card .example.sizes > div:nth-child(7),
.info-card .example.flexbox > div > div:nth-child(7) {
  background: #eb3d30;
  color: #fff; }

.info-card .example.flexbox > div {
  width: 100%;
  background: #fff;
  border: 1px solid #1e8feb; }
  .info-card .example.flexbox > div > div {
    width: 30%; }
    @media only screen and (max-width: 768px) {
      .info-card .example.flexbox > div > div {
        width: 50%; } }
  @media only screen and (max-width: 768px) {
    .info-card .example.flexbox > div.f-row > div {
      width: 0; } }

@media only screen and (max-width: 768px) {
  .info-card .example.flexbox .nowrap {
    overflow-x: scroll; } }

.info-card .example.flexbox .f-row > div,
.info-card .example.flexbox .f-column > div {
  width: 100%; }

@media only screen and (max-width: 768px) {
  .info-card .example.flexbox div[class*='f-justify'] > div {
    width: 0;
    font-size: 1.3rem;
    display: flex;
    justify-content: center; } }

.info-card .example.flexbox div[class*='f-align'],
.info-card .example.flexbox div.f-center {
  height: 20rem; }
  @media only screen and (max-width: 768px) {
    .info-card .example.flexbox div[class*='f-align'] > div,
    .info-card .example.flexbox div.f-center > div {
      width: 50%;
      font-size: 1.3rem;
      display: flex;
      justify-content: center; } }

.info-card .example.grid > div > div {
  color: #1e8feb;
  border: 2px solid rgba(30, 143, 235, 0.4);
  border-radius: 5px; }

.info-card .example.utils a {
  background: #1e8feb;
  border-radius: 5px; }

.info-card .example.utils div[class*='m-'] {
  border: 1px solid rgba(30, 143, 235, 0.4); }

.info-card .example.utils .relative {
  height: 15rem;
  width: 80%;
  background: #1e8feb; }
  .info-card .example.utils .relative .absolute {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff; }

footer.footer {
  border-top: 2px solid #1e8feb; }
  footer.footer h1 {
    font-weight: 300;
    font-size: 2.4rem; }
    @media only screen and (max-width: 768px) {
      footer.footer h1 {
        font-size: 1.4rem; } }
    footer.footer h1 .footer-author {
      font-weight: 400;
      font-style: italic; }
