html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  width: 100%;
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;

  @include for-xs {
    width: 85%;
    padding: 0;
  }

  @include for-sm {
    width: 100%;
    padding: 0 2rem;
  }
}

.container-fluid {
  width: 100%;
  padding: 0 2rem;
}
