// Grid

.grid-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.g-center {
  justify-items: center;
  align-items: center;
}

.g-justify-start {
  justify-items: start;
}

.g-justify-end {
  justify-items: end;
}

@for $i from 1 through 10 {
  $value: calc(#{$i}* 0.5rem);

  .g-col-gap-#{$i} {
    grid-column-gap: $value;
  }

  .g-row-gap-#{$i} {
    grid-row-gap: $value;
  }

  .g-gap-#{$i} {
    grid-gap: $value;
  }
}

.grid-column {
  @include for-xs {
    @for $i from 1 through 12 {
      &.xs-#{$i} {
        grid-column: span $i;
      }
    }
  }

  @include for-sm {
    @for $i from 1 through 12 {
      &.sm-#{$i} {
        grid-column: span $i;
      }
    }
  }
  @include for-md {
    @for $i from 1 through 12 {
      &.md-#{$i} {
        grid-column: span $i;
      }
    }
  }
  @include for-lg {
    @for $i from 1 through 12 {
      &.lg-#{$i} {
        grid-column: span $i;
      }
    }
  }
  @include for-xl {
    @for $i from 1 through 12 {
      &.xl-#{$i} {
        grid-column: span $i;
      }
    }
  }

  @include for-xxl {
    @for $i from 1 through 12 {
      &.xxl-#{$i} {
        grid-column: span $i;
      }
    }
  }
}

// Positional order

@for $i from 0 through 13 {
  .order-#{$i} {
    order: $i;
  }
}
