// Width

.is-fullwidth {
   width: 100%;
}

// Height

.is-fullheight {
   height: 100%;
}

.is-half-vh {
   height: 50vh;
}

.is-full-vh {
   height: 100vh;
}

// Height and Width

.is-full-size {
   height: 100%;
   width: 100%;
}

.is-full-size-vh {
   height: 100vh;
   width: 100%;
}

.is-half-size-vh {
   height: 50vh;
   width: 100%;
}
