// Paddings

@for $i from 1 through 10 {
  $value: calc(#{$i} * 0.5rem);

  .p-#{$i} {
    padding: $value;
  }
  .pt-#{$i} {
    padding-top: $value;
  }
  .pb-#{$i} {
    padding-bottom: $value;
  }
  .pl-#{$i} {
    padding-left: $value;
  }
  .pr-#{$i} {
    padding-right: $value;
  }
}

// Margins

@for $i from 1 through 10 {
  $value: calc(#{$i} * 0.5rem);

  .m-#{$i} {
    margin: $value;
  }
  .mt-#{$i} {
    margin-top: $value;
  }
  .mb-#{$i} {
    margin-bottom: $value;
  }
  .ml-#{$i} {
    margin-left: $value;
  }
  .mr-#{$i} {
    margin-right: $value;
  }
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

// Vertical align for inline-elements

.vertical-a-top {
  vertical-align: top;
}

//

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.pos-fixed {
  position: fixed;
}

.pos-sticky {
  position: sticky;
}

.text-white {
  color: #fff;
}
.text-black {
  color: #333;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

.text-lower {
  text-transform: lowercase;
}

.text-capital {
  text-transform: capitalize;
}

.text-d-none {
  text-decoration: none;
}

.list-s-none {
  list-style: none;
}
