@mixin max-sm {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

$primary: #1e8feb;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f9f9f9;
}

.nav {
  top: 0;
  background: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  z-index: 1;
  height: 6.5rem;

  .hamburguer {
    cursor: pointer;
    & > div {
      width: 3rem;
      height: 5px;
      background-color: rgba($primary, 0.4);
      margin: 0.5rem 1rem 0 0;
    }
  }

  a {
    text-decoration: none;
  }

  h1 {
    color: $primary;
  }

  .search-bar {
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #1e8feb;
    font-size: 1.6rem;

    &::placeholder {
      color: currentColor;
      font-size: 1.6rem;
    }
  }
}

.documentation-bar {
  border-right: 2px solid rgba($primary, 0.4);
  background: #f9f9f9;

  @include max-sm {
    position: fixed;
    height: 100%;
    width: 50%;
    top: 6.5rem;
    margin-top: 0;
    z-index: 20;
    left: 0;
    opacity: 1;
    transition: transform 0.3s ease-in-out;

    &-content {
      position: relative;

      ul {
        li {
          a {
            display: inline-block;
            width: 100%;
          }
        }
      }
    }
  }

  &.toggle-bar {
    transform: translateX(-100%);
  }
}

.documentation-bar-content {
  h1 {
    font-size: 1.6rem;
    font-weight: 300;
  }

  ul {
    list-style: none;

    li {
      a {
        text-decoration: none;
        color: $primary;

        &:hover {
          color: darken($primary, 15%);
        }
      }
    }
  }
}

.info-card {
  h1,
  h2 {
    line-height: 1.6;
    border-bottom: 2px solid rgba($primary, 0.4);
    font-weight: 400;
  }

  p {
    line-height: 1.6;
  }

  ul {
    list-style: none;

    li {
      line-height: 1.7;
    }
  }

  pre {
    background: none;
    &::before,
    &::after {
      content: none;
    }
  }

  span.code-text {
    background: #d9d9d9;
    border-radius: 5px;
    padding: 0.5rem;
    font-family: consolas;
    font-size: 1.4rem;
  }

  .example {
    &.displays,
    &.sizes,
    &.flexbox > div {
      & > div {
        padding: 2.5rem;
      }
      & > div:nth-child(1) {
        background: #1e8feb;
        color: #fff;
      }
      & > div:nth-child(2) {
        background: #f6e336;
        color: #444;
      }
      & > div:nth-child(3) {
        background: #5f34af;
        color: #fff;
      }
      & > div:nth-child(4) {
        background: #9423a8;
        color: #fff;
      }
      & > div:nth-child(5) {
        background: #00b4cc;
        color: #fff;
      }
      & > div:nth-child(6) {
        background: #83bb43;
        color: #fff;
      }
      & > div:nth-child(7) {
        background: #eb3d30;
        color: #fff;
      }
    }

    &.flexbox {
      & > div {
        width: 100%;
        background: #fff;
        border: 1px solid $primary;

        & > div {
          width: 30%;

          @include max-sm {
            width: 50%;
          }
        }

        &.f-row {
          & > div {
            @include max-sm {
              width: 0;
            }
          }
        }
      }

      @include max-sm {
        .nowrap {
          overflow-x: scroll;
        }
      }

      .f-row,
      .f-column {
        & > div {
          width: 100%;
        }
      }

      div[class*='f-justify'] {
        & > div {
          @include max-sm {
            width: 0;
            font-size: 1.3rem;
            display: flex;
            justify-content: center;
          }
        }
      }

      div[class*='f-align'],
      div.f-center {
        height: 20rem;

        & > div {
          @include max-sm {
            width: 50%;
            font-size: 1.3rem;
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    &.grid {
      & > div {
        & > div {
          color: $primary;
          border: 2px solid rgba($primary, 0.4);
          border-radius: 5px;

          @include max-sm {
            font-size: 1.4rem;
          }
        }
      }

      & > div:nth-child(1) {
        & > div {
          text-align: center;
        }
      }
      & > div:nth-child(2) {
        & > div {
          white-space: nowrap;
        }
      }
    }

    &.utils {
      a {
        background: $primary;
        border-radius: 5px;
      }

      div[class*='m-'] {
        border: 1px solid rgba($primary, 0.4);
      }

      .relative {
        height: 15rem;
        width: 80%;
        background: $primary;
        .absolute {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: #fff;
        }
      }
    }
  }
}

footer.footer {
  border-top: 2px solid $primary;
  h1 {
    font-weight: 300;
    font-size: 2.4rem;

    @include max-sm {
      font-size: 1.4rem;
    }

    .footer-author {
      font-weight: 400;
      font-style: italic;
    }
  }
}
